<section class="section advantages" id="advantages">
  <div class="container advantages">
    <div class="wrap-title-advant">
      <p class="advant-subtitle">Переваги</p>
      <h2 class="title advant-title">Чому обрати нас?</h2>
      <p class="advant-description">
        Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
        стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
        відповідальність.
      </p>
    </div>
    <ul class="advant-list">
      <li class="advant-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/advantages/desk-image-1-min.jpg    1x,
              /images/advantages/desk-image-1@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/advantages/tab-image-1-min.jpg    1x,
              /images/advantages/tab-image-1@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/advantages/mob-image-1-min.jpg    1x,
              /images/advantages/mob-image-1@2x-min.jpg 2x
            "
          />
          <img
            class="advant-image"
            src="/images/advantages/mob-image-1-min.jpg"
            alt="organic"
          />
        </picture>
        <div class="text-wrapper-advant">
          <h3 class="advant-second-title">Стійкість та екологічність</h3>
          <p>Виготовлені з органічної бавовни та переробленого пластику.</p>
        </div>
      </li>

      <li class="advant-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/advantages/desk-image-2-min.jpg    1x,
              /images/advantages/desk-image-2@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/advantages/tab-image-2-min.jpg    1x,
              /images/advantages/tab-image-2@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/advantages/mob-image-2-min.jpg    1x,
              /images/advantages/mob-image-2@2x-min.jpg 2x
            "
          />
          <img
            class="advant-image"
            src="/images/advantages/mob-image-2-min.jpg"
            alt="sewing bag"
          />
        </picture>
        <div class="text-wrapper-advant">
          <h3 class="advant-second-title strong">Міцність і довговічність</h3>
          <p>Наші сумки мають посилені шви для тривалого використання.</p>
        </div>
      </li>

      <li class="advant-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/advantages/desk-image-3-min.jpg    1x,
              /images/advantages/desk-image-3@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/advantages/tab-image-3-min.jpg    1x,
              /images/advantages/tab-image-3@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/advantages/mob-image-3-min.jpg    1x,
              /images/advantages/mob-image-3@2x-min.jpg 2x
            "
          />
          <img
            class="advant-image three"
            src="/images/advantages/mob-image-3-min.jpg"
            alt="stylish bags"
          />
        </picture>
        <div class="text-wrapper-advant style">
          <h3 class="advant-second-title">Стильний та сучасний дизайн</h3>
          <p>Мінімалістичні моделі в обмежених серіях для кожного стилю.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
