<!-- <section class="section advantages">
  <div class="container advantages">
    <p class="advant-subtitle">Переваги</p>
    <h2 class="advant-title">Чому обрати нас?</h2>
    <p class="advent-description">
      Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
      стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
      відповідальність.
    </p>
    <ul class="advent-list">
      <li class="advent-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/advantages/desk-image-1-min.jpg    1x,
              /images/advantages/desk-image-1@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/advantages/tab-image-1-min.jpg    1x,
              /images/advantages/tab-image-1@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/advantages/mob-image-1-min.jpg    1x,
              /images/advantages/mob-image-1@2x-min.jpg 2x
            "
          />
          <img src="/images/advantages/mob-image-1-min.jpg" alt="organic" />
        </picture>
        <h3 class="advant-second-title">Стійкість та екологічність</h3>
        <p>Виготовлені з органічної бавовни та переробленого пластику.</p>
      </li>

      <li class="advent-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/advantages/desk-image-2-min.jpg    1x,
              /images/advantages/desk-image-2@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/advantages/tab-image-2-min.jpg    1x,
              /images/advantages/tab-image-2@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/advantages/mob-image-2-min.jpg    1x,
              /images/advantages/mob-image-2@2x-min.jpg 2x
            "
          />
          <img src="/images/advantages/mob-image-2-min.jpg" alt="sewing bag" />
        </picture>
        <h3 class="advant-second-title">Міцність і довговічність</h3>
        <p>Наші сумки мають посилені шви для тривалого використання.</p>
      </li>

      <li class="advent-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/advantages/desk-image-3-min.jpg    1x,
              /images/advantages/desk-image-3@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/advantages/tab-image-3-min.jpg    1x,
              /images/advantages/tab-image-3@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/advantages/mob-image-3-min.jpg    1x,
              /images/advantages/mob-image-3@2x-min.jpg 2x
            "
          />
          <img
            src="/images/advantages/mob-image-3-min.jpg"
            alt="stylish bags"
          />
        </picture>
        <h3 class="advant-second-title">Стильний та сучасний дизайн</h3>
        <p>Мінімалістичні моделі в обмежених серіях для кожного стилю.</p>
      </li>
    </ul>
  </div>
</section> -->
