<!-- Assortment Section -->
<section class="product">
    <div class="container product-conteiner">
        <h2 class="title product-title" id="assortment">Наші сумки</h2>
        <ul class="product-list">
            <li class="product-item">
              <div class="product-item-img">
              <img
                srcset="/images/assortment/bag-1-min.jpg 1x, /images/assortment/bag-1@2x-min.jpg 2x" src="/images/assortment/bag-1-min.jpg" alt="Bag Classic" width="288" height="346" />
              </div>
              <div class="product-item-content">
                <h3 class="product-item-title">EcoBag Classic</h3>
                <p class="product-item-text">Елегантна та містка сумка для щоденного використання.</p>
                <p class="product-item-price">$25</p>
              </div>
              <button type="button" class="product-item-btn">Купити</button>
            </li>
            <li class="product-item">
                <div class="product-item-img">
                <img srcset="/images/assortment/bag-2-min.jpg 1x, /images/assortment/bag-2@2x-min.jpg 2x" src="/images/assortment/bag-2-min.jpg" alt="Shopper" width="288" height="346" />
                </div>
                <div class="product-item-content">
                    <h3 class="product-item-title">EcoTote Shopper</h3>
                    <p class="product-item-text">Ідеальна для покупок, з посиленими ручками.</p>
                    <p class="product-item-price">$30</p>
                </div>
                <button type="button" class="product-item-btn">Купити</button>
            </li>
            <li class="product-item">
                <div class="product-item-img">
                <img srcset="/images/assortment/bag-3-min.jpg 1x, /images/assortment/bag-3@2x-min.jpg 2x" src="/images/assortment/bag-3-min.jpg" alt="Backpack" width="288" height="346" />
                </div>
                <div class="product-item-content">
                    <h3 class="product-item-title">EcoBackpack Urban</h3>
                    <p class="product-item-text">Зручний рюкзак для міста з відділенням для ноутбука.</p>
                    <p class="product-item-price">$45</p>
                </div>
                <button type="button" class="product-item-btn">Купити</button>
            </li>
            <li class="product-item">
                <div class="product-item-img">
                <img srcset="/images/assortment/bag-4-min.jpg 1x, /images/assortment/bag-4@2x-min.jpg 2x" src="/images/assortment/bag-4-min.jpg" alt="Crossbody" width="288" height="346" />
                </div>
                <div class="product-item-content">
                    <h3 class="product-item-title">EcoCrossbody Mini</h3>
                    <p class="product-item-text">Компактна сумка через плече для найнеобхіднішого.</p>
                    <p class="product-item-price">$20</p>
                </div>
                <button type="button" class="product-item-btn">Купити</button>
            </li>
            <li class="product-item">
                <div class="product-item-img">
                    <img srcset="/images/assortment/bag-5-min.jpg 1x, /images/assortment/bag-5-min@2x-min.jpg 2x" src="/images/assortment/bag-5-min.jpg" alt="Lunch Bag" width="288" height="346" />
                </div>
                <div class="product-item-content">
                    <h3 class="product-item-title">EcoLunch Bag</h3>
                    <p class="product-item-text">Стильна та практична сумка для обідів.</p>
                    <p class="product-item-price">$15</p>
                </div>
                <button type="button" class="product-item-btn">Купити</button>
            </li>
            <li class="product-item">
                <div class="product-item-img">
                <img srcset="/images/assortment/bag-6-min.jpg 1x, /images/assortment/bag-6@2x-min.jpg 2x" src="/images/assortment/bag-6-min.jpg" alt="Beach Tote" width="288" height="346" />
                </div>
                <div class="product-item-content">
                    <h3 class="product-item-title">EcoBeach Tote</h3>
                     <p class="product-item-text">Велика сумка для пляжних речей з водонепроникною підкладкою.</p>
                    <p class="product-item-price">$35</p>
                </div>
                <button type="button" class="product-item-btn">Купити</button>
            </li>
            <li class="product-item">
                <div class="product-item-img">
                <img srcset="/images/assortment/bag-7-min.jpg 1x, /images/assortment/bag-7@2x-min.jpg 2x"
                    src="/images/assortment/bag-7-min.jpg" alt="Travel Bag" width="288" height="346" />
                </div>
                <div class="product-item-content">
                    <h3 class="product-item-title">EcoTravel Duffle</h3>
                    <p class="product-item-text">Містка дорожня сумка з додатковими кишенями.</p>
                    <p class="product-item-price">$60</p>
                </div>
                <button type="button" class="product-item-btn">Купити</button>
            </li>
            <li class="product-item">
                <div class="product-item-img">
                <img srcset="/images/assortment/bag-8-min.jpg 1x, /images/assortment/bag-8@2x-min.jpg 2x"
                    src="/images/assortment/bag-8-min.jpg" alt="Kids Backpack" width="288" height="346" />
                </div>
                <div class="product-item-content">
                    <h3 class="product-item-title">EcoKids Bag</h3>
                    <p class="product-item-text">Яскрава та зручна сумка для дітей.</p>
                    <p class="product-item-price">$22</p>
                </div>
                <button type="button" class="product-item-btn" href="#support">Купити</button>
            </li>
        </ul>
    </div>
</section>