<section class="feedbacks">
    <div class="container">
        <h2 class="section-heading">Що говорять наші клієнти</h2>
        <ul class="testimonials">
            <li class="testimonials-item">
                <ul class="stars-list">
                    <li class="star">
                        <svg class="star-icon" width="20" height="20">
                          <use href="/images/feedbacks/star.svg"></use>
                        </svg>
                    </li>
                </ul>
                <p class="feedback-text">Сумка дуже зручна та стильна, використовую щодня!</p>
                <p class="name">Анна</p>
            </li>
            <li class="testimonials-item">
                <ul class="stars-list">
                    <li class="star">
                        <svg class="star-logo" width="20" height="20">
                          <use href="/images/sprite.svg#icon-star"></use>
                        </svg>
                    </li>
                </ul>
                <p class="feedback-text">Відмінна якість матеріалів, приємно здивована.</p>
                <p class="name">Ігор</p>
            </li>
            <li class="testimonials-item">
                <ul class="stars-list">
                    <li class="star">
                        <svg class="star-logo" width="20" height="20">
                          <use href="/img/feedback/star.svg"></use>
                        </svg>
                    </li>
                </ul>
                <p class="feedback-text">Сумка повністю відповідає опису, рекомендую!</p>
                <p class="name">Олена</p>
            </li>
            <li class="testimonials-item">
                <ul class="stars-list">
                    <li class="star">
                        <svg class="star-logo" width="20" height="20">
                          <use href="/img/feedbacks/star.svg"></use>
                        </svg>
                    </li>
                </ul>
                <p class="feedback-text">Швидка доставка та гарне обслуговування.</p>
                <p class="name">Сергій</p>
            </li>
        </ul>
    </div>
</section>