<section class="feedbacks">
    <div class="container">
        <h2 class="section-heading">Що говорять наші клієнти</h2>
        <ul class="testimonials">
            <li class="testimonials-item">
                <div class="stars"></div>
                <p class="feedback-text">Сумка дуже зручна та стильна, використовую щодня!</p>
                <p class="name">Анна</p>
            </li>
            <li class="testimonials-item">
                <div class="stars"></div>
                <p class="feedback-text">Відмінна якість матеріалів, приємно здивована.</p>
                <p class="name">Ігор</p>
            </li>
            <li class="testimonials-item">
                <div class="stars"></div>
                <p class="feedback-text">Сумка повністю відповідає опису, рекомендую!</p>
                <p class="name">Олена</p>
            </li>
            <li class="testimonials-item">
                <div class="stars"></div>
                <p class="feedback-text">Швидка доставка та гарне обслуговування.</p>
                <p class="name">Сергій</p>
            </li>
        </ul>
    </div>
</section>