<section class="gallery">
  <div class="container">
    <h2 id="gallery" class="title">Галерея зображень</h2>
    <h3 class="subtitle">EcoTotes у повсякденному житті</h3>
    
    <ul class="gallery-list">
      <li class="gallery-item">
        <div class="gallery-image">
          <picture>
            <source
              srcset="
                /images/gallery/an-eco-tote-desktop.jpg    1x,
                /images/gallery/an-eco-tote-desktop@2x.jpg 2x,
                /images/gallery/an-eco-tote-desktop@3x.jpg 3x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /images/gallery/an-eco-tote-tablet.jpg    1x,
                /images/gallery/an-eco-tote-tablet@2x.jpg 2x,
                /images/gallery/an-eco-tote-tablet@3x.jpg 3x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /images/gallery/an-eco-tote-mobile.jpg    1x,
                /images/gallery/an-eco-tote-mobile@2x.jpg 2x,
                /images/gallery/an-eco-tote-mobile@3x.jpg 3x
              "
              media="(max-width: 767px)"
            />
            <img
              src="/images/gallery/an-eco-tote-mobile.jpg"
              alt="An eco tote placed on a chair or beside a table at a cozy coffee shop. There’s a cup of coffee, a book or a laptop nearby. The setting is minimal and aesthetic, evoking slow lifestyle and conscious choices."
              width="288"
            />
          </picture>
        </div>
      </li>
      <li class="gallery-item">
        <div class="gallery-image">
          <picture>
            <source
              srcset="
                /images/gallery/street-crossing-with-tote-desktop.jpg    1x,
                /images/gallery/street-crossing-with-tote-desktop@2x.jpg 2x,
                /images/gallery/street-crossing-with-tote-desktop@3x.jpg 3x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /images/gallery/street-crossing-with-tote-tablet.jpg    1x,
                /images/gallery/street-crossing-with-tote-tablet@2x.jpg 2x,
                /images/gallery/street-crossing-with-tote-tablet@3x.jpg 3x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /images/gallery/street-crossing-with-tote-mobile.jpg    1x,
                /images/gallery/street-crossing-with-tote-mobile@2x.jpg 2x,
                /images/gallery/street-crossing-with-tote-mobile@3x.jpg 3x
              "
              media="(max-width: 767px)"
            />
            <img
              src="/images/gallery/street-crossing-with-tote-mobile.jpg"
              alt="A city scene where a stylish person carries a tote bag while crossing a street or standing at a crosswalk. Urban backdrop, bicycles, pedestrians, and modern architecture in the background. The bag is modern, clean, and fashionable."
              width="288"
            />
          </picture>
        </div>
      </li>
      <li class="gallery-item">
        <div class="gallery-image">
          <picture>
            <source
              srcset="
                /images/gallery/recycle-bag-in-park-desktop.jpg    1x,
                /images/gallery/recycle-bag-in-park-desktop@2x.jpg 2x,
                /images/gallery/recycle-bag-in-park-desktop@3x.jpg 3x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /images/gallery/recycle-bag-in-park-tablet.jpg    1x,
                /images/gallery/recycle-bag-in-park-tablet@2x.jpg 2x,
                /images/gallery/recycle-bag-in-park-tablet@3x.jpg 3x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /images/gallery/recycle-bag-in-park-mobile.jpg    1x,
                /images/gallery/recycle-bag-in-park-mobile@2x.jpg 2x,
                /images/gallery/recycle-bag-in-park-mobile@3x.jpg 3x
              "
              media="(max-width: 767px)"
            />
            <img
              src="/images/gallery/recycle-bag-in-park-mobile.jpg"
              alt="A person walking through a park or nature trail carrying an eco-friendly tote bag on their shoulder. Casual outfit, spring or summer scenery, with trees, grass, and soft shadows. The bag moves naturally as part of the lifestyle moment."
              width="288"
            />
          </picture>
        </div>
      </li>
      <li class="gallery-item">
        <div class="gallery-image">
          <picture>
            <source
              srcset="
                /images/gallery/a-young-woman-with-eco-tote-bag-desktop.jpg    1x,
                /images/gallery/a-young-woman-with-eco-tote-bag-desktop@2x.jpg 2x,
                /images/gallery/a-young-woman-with-eco-tote-bag-desktop@3x.jpg 3x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /images/gallery/a-young-woman-with-eco-tote-bag-tablet.jpg    1x,
                /images/gallery/a-young-woman-with-eco-tote-bag-tablet@2x.jpg 2x,
                /images/gallery/a-young-woman-with-eco-tote-bag-tablet@3x.jpg 3x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /images/gallery/a-young-woman-with-eco-tote-bag-mobile.jpg    1x,
                /images/gallery/a-young-woman-with-eco-tote-bag-mobile@2x.jpg 2x,
                /images/gallery/a-young-woman-with-eco-tote-bag-mobile@3x.jpg 3x
              "
              media="(max-width: 767px)"
            />
            <img
              src="/images/gallery/a-young-woman-with-eco-tote-bag-mobile.jpg"
              alt="A young woman holding a large eco tote bag filled with fresh vegetables and fruits at a local farmer's market. Warm sunlight, cozy atmosphere, background with wooden crates and greenery. The tote has a simple, natural design."
              width="288"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
