<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="logo header-logo" href="./index.html"
        ><svg class="logo-icon" width="82" height="31">
          <use href="./images/logo.svg"></use></svg
      ></a>
      <ul class="header-nav-list">
        <li class="nav-item">
          <a class="nav-link" href="./index.html">Про нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./index.html">Переваги</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./index.html">Асортимент</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./index.html">Галерея</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./index.html">Відгуки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./index.html">Контакти</a>
        </li>
      </ul>
    </nav>
    <address class="header-contacts">
      <ul class="header-contacts-list">
        <li class="contacts-item">
          <a href="tel:+380999091122" class="contacts-link"
            >+38 (099) 909-11-22</a
          >
        </li>
        <li class="contacts-item">
          <a href="mailto:hello@ecotote.com" class="contacts-link"
            >hello@ecotote.com</a
          >
        </li>
      </ul>
    </address>

    <button class="menu-button" type="button" data-menu-open>
      <svg class="menu-icon" width="32" height="32">
        <use href="./images/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>

  <div class="menu" data-menu>
    <div class="container menu-container">
      <div class="menu-header">
        <a class="logo" href="./index.html"
          ><svg class="logo-icon" width="82" height="31">
            <use href="./images/logo.svg"></use></svg
        ></a>
        <button class="menu-close-btn" data-menu-close>
          <svg class="menu-close-icon" width="32" height="32">
            <use href="./images/icons.svg#icon-cross"></use>
          </svg>
        </button>
      </div>
      <nav class="menu-nav">
        <ul class="menu-nav-list">
          <li class="nav-item">
            <a class="nav-link" href="#about">Про нас</a>
          </li>
          <li class="header-n">
            <a class="nav-link" href="#advantages">Переваги</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#assortment">Асортимент</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#gallery">Галерея</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#feedbacks">Відгуки</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contacts">Контакти</a>
          </li>
        </ul>
      </nav>
      <address class="menu-contacts">
        <ul class="menu-contacts-list">
          <li class="contacts-item">
            <a href="tel:+380999091122" class="contacts-link"
              >+38 (099) 909-11-22</a
            >
          </li>
          <li class="contacts-item">
            <a href="mailto:hello@ecotote.com" class="contacts-link"
              >hello@ecotote.com</a
            >
          </li>
        </ul>
      </address>
    </div>
  </div>
</header>
