<section class="hero">
  <div class="container hero__container">
    <div class="hero__content-wrapper">
      <div class="hero__textblock">
        <h1 class="hero__title">EcoTote — Стиль, що не шкодить планеті.</h1>
      </div>
      <div class="paragraf-hero">
        <p class="hero__subtitle">
          Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та
          відповідальність разом з EcoTote.
        </p>
        <a href="#assortment" class="hero__button hero__link">Купити зараз</a>
      </div>
    </div>
    <picture>
      <source
        srcset="/images/hero/hero.jpg 1x, /images/hero/hero.2x.jpg 2x"
        media="(min-width: 1440px)"
      />
      <source
        srcset="/images/hero/hero.tab.jpg 1x, /images/hero/hero.tab.2x.jpg 2x"
        media="(min-width:768px)"
      />

      <source
        srcset="/images/hero/hero.mob.jpg 1x, /images/hero/hero.mob.2x.jpg 2x"
        media="(max-width: 767px)"
      />
      <img src="/images/hero/hero.jpg" alt="білі еко сумки" />
    </picture>
  </div>
</section>
