<section class="support" id="support">
  <div class="container">
    <div class="support-txt">
      <div class="support-header">
        <h2 class="support-title">Залишились питання? Зв'яжіться з нами!</h2>
        <h3 class="support-subtitle">Ми тут, щоб допомогти!</h3>
      </div>
      <form class="support-form">
        <label for="user-name">Ім'я</label>
        <input
          type="text"
          placeholder="Іван"
          class="user-name"
          id="user-name"
          maxlength="64"
          minlength="5"
          required
          />
          <p class="text-invalid-name">Недостатньо символів</p>

        <label for="user-email">Електронна пошта</label>
        <input
          type="email"
          placeholder="hello@ecotote.com"
          class="user-email"
          id="user-email"
          pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
          required
        />
        <p class="text-invalid-email">Неправильний формат</p>

        <label for="message">Повідомлення</label>
        <textarea
          name="message"
          id="message"
          placeholder="Введіть своє повідомлення..."
          maxlength="500"
        ></textarea>
        </label>
        <button type="submit" class="support-btn">Надіслати</button>
      </form>
    </div>
    <div class="support-img"></div>
  </div>
</section>
