<section class="support">
  <div class="container">
    <h2 class="support-title">Залишились питання? Зв'яжіться з нами!</h2>
    <h3 class="support-subtitle">Ми тут, щоб допомогти!</h3>
    <form class="support-form">
      <label for="user-name">Ім'я</label>
      <input type="text" placeholder="Іван" class="user-name" id="user-name" />
      <label for="user-email">Електронна пошта</label>
      <input
        type="email"
        placeholder="hello@ecotote.com"
        class="user-email"
        id="user-email"
      />
      <label for="message">Повідомлення</label>
      <textarea
        name="message"
        id="message"
        placeholder="Введіть своє повідомлення..."
      ></textarea>
      <button type="submit" class="support-btn">Надіслати</button>
    </form>
    <div class="support-img">
      <picture>
        <source
          srcset="
            ../img/support/studio-desktop-min.jpg    1x,
            ../img/support/studio-desktop-2x-min.jpg 2x,
            ../img/support/studio-desktop-3x-min.jpg 3x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ../img/support/studio-tab-min.jpg    1x,
            ../img/support/studio-tab-2x-min.jpg 2x,
            ../img/support/studio-tab-3x-min.jpg 3x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../img/support/studio-mobile-min.jpg    1x,
            ../img/support/studio-mobile-2x-min.jpg 2x,
            ../img/support/studio-mobile-3x-min.jpg 3x
          "
          media="(min-width: 320px)"
        />
        <img
          src="../img/support/studio-desktop-min.jpg"
          alt="A studio space with sketches, fabric samples, scissors, and a half-finished eco tote bag on a work table."
        />
      </picture>
    </div>
  </div>
</section>
