.about {
    background: #111;
    /* background має відображатись фонове зображення замість чорного кольору:
    background: linear-gradient(), url(); */
    padding: 64px 0;
}

.about-heading {
    font-weight: 600;
    text-align: center;
    padding-bottom: 12px;
    color: #fff;
}

.about-title {
    margin-bottom: 20px;
    color: #fff;
}

.about-text {
    text-align: center;
    color: #fff;
}
