.about {
  min-width: 320px;
  height: 348px;
  padding: 64px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/images/about/bg-mobile-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

@media (min-resolution: 192dpi) {
  .about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/images/about/bg-mobile@2x-min.jpg);
  }
}
.about-container {
  display: block;
  align-items: center;
}

.about-content {
  min-width: 228px;
  text-align: center;
}
.about-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--color-white);
  color: #fff;
  margin-bottom: 12px;
}
.about-heading {
  color: #fff;
  margin-bottom: 20px;
}
.about-text {
  text-align: center;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .about {
    min-width: 768px;
    height: 325px;
    padding: 80px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/images/about/bg-tablet-min.jpg);
  }

  @media (min-resolution: 192dpi) {
    .about {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/images/about/bg-tablet.@2x-min.jpg);
    }
  }
  .about-title {
    margin-bottom: 16px;
  }
  .about-heading {
    margin-bottom: 24px;
  }
  .about-text {
    font-size: 18px;
    max-width: 573px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1440px) {
  .about {
    min-width: 320px;
    height: 462px;
    padding: 112px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/images/about/bg-dasktop-min.jpg);
  }

  @media (min-resolution: 192dpi) {
    .about {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/images/about/bg-dasktop@2x-min.jpg);
    }
  }
  .about-heading {
    font-size: 56px;
    width: 629px;
  }
}
