.section.advantages {
    padding: 32px 0;
}

.wrap-title-advant {
margin-bottom: 48px;
}

.advant-subtitle {
    margin-bottom: 12px;
    font-weight: 600;
    line-height: 1.5;
}

.title.advant-title {
    margin-bottom: 20px;
    text-align: left;
}

.advant-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.advant-item {
    max-width: 100%;
}

.advant-image {
    margin-bottom: 8px;
    border-radius: 32px;
    object-fit: cover;
}

.advant-second-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    font-family: var(--second-family);
}


/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .section.advantages {
        padding: 64px 0;
    }
    .wrap-title-advant {
        margin-bottom: 32px;
    }
    .advant-subtitle {
        margin-bottom: 16px;
    }

    .title.advant-title {
        margin-bottom: 24px;
    }

    .advant-description {
        font-size: 18px;
    }

    .advant-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }

    .advant-item:nth-child(1),
    .advant-item:nth-child(2) {
        flex-basis: calc(50% - 12px);
    }

    .advant-item:nth-child(3) {
        flex-basis: 100%;
    }

    .advant-image {
        margin-bottom: 32px;
        width: 340px;
        height: 201px;
    }

    .advant-image.three {
        width: 704px;
        height: 416px;
    }

    .advant-second-title {
        margin-bottom: 8px;
    }

    .advant-second-title.strong {
        margin-bottom: 42px;
    }

}


/* Styles for Desktop devices */

@media only screen and (min-width: 1440px) {
    .wrap-title-advant {
        margin-bottom: 80px;
        max-width: 768px;
    }
    .title.advant-title {
        font-size: 48px;
    }

    .advant-list {
        flex-wrap: nowrap;
    }

    .advant-item:nth-child(1),
    .advant-item:nth-child(2),
    .advant-item:nth-child(3) {
        flex-basis: calc((100% - 48px) / 3);
    }

    .advant-image {
        width: 421px;
        height: 249px;
    }
    
    .advant-image.three {
        width: 421px;
        height: 249px;
    }

    .advant-second-title {
        margin-bottom: 24px;
        font-size: 32px;
    }

    .advant-second-title.strong {
        margin-bottom: 24px;
    }

}




