/*  Assortment  */

.product {
    padding: 32px 0;
}

.product-title {
    margin-bottom: 32px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.product-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.product-item-content {
    margin-bottom: auto;
}

.product-item-img {
    width: 100%;
    height: 346px; 
}

.product-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 32px;
}
 
.product-item-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    color: var(--color-neutral-darkest);
}

.product-item-text {
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
    color: var(--color-neutral-darkest);
    max-width: 288px;
    margin-bottom: 8px;
}

.product-item-price {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    color: var(--color-neutral-darkest);
    margin-top: auto;
}

.product-item-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: transparent;
    border: 1px solid #030a06;
    border-radius: 6px;
    padding: 8px 20px;
    width: 288px;
    height: 40px;

    opacity: 1;
    transition: opacity 0.3s ease;
}

.product-item-btn:hover, 
.product-item-btn:focus {
    opacity: 0.5;
}

.product-item-btn:active {
    color: #113916;
    opacity: 0.6;
}

.product-item-btn:disabled {
    opacity: 0.2;
    pointer-events: none;
}

/*  Adaptive  */

@media screen and (min-width: 768px) {
    .product {
        padding: 64px 0;   
    }

    .product-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
    }

    .product-item {
        width: calc((100% - 24px) / 2);
    }

    .product-item-img {
        width: 340px;
        height: 408px;   
    }

    .product-item-btn {
        width: 340px;
    }

    .product-item-text{
        max-width: 340px;
    }
}

@media screen and (min-width: 1440px) {
    .product-title {
        font-size: 48px;
    }

    .product-list {
        gap: 64px 24px;
    }

    .product-item {
        width: calc((100% - (24px * 3)) / 4);
    }

    .product-item-img {
        width: 310px;
        height: 371px;
    }

    .product-item-content {
        width: 310px;
    }

    .product-item-btn{
        width: 310px;
    }

    .product-item-text{
        max-width: 310px;
    }

    .product-item:nth-child(2) .product-item-text {
        max-width: 170px;
        margin: 0 auto 8px auto;
    }
}