.feedbacks {
    padding: 32px 0;
}

.feedbacks .title {
    margin-bottom: 32px;
}

.feedback-text {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: #030a06;
    margin-bottom: 12px;
}

.name {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.6;
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.stars-list {
    display: flex;
    gap: 4px;
}

.star {
    fill: #030a06;
}

.five-stars .star,
.four-stars .star:not(:last-child),
.three-stars .star:not(:last-child, :nth-child(4)),
.two-stars .star:not(:last-child, :nth-child(4), :nth-child(3)) {
    fill: #3ac04c;
}