.gallery {
  display: flex;
  padding: 32px 0;
}

.gallery .title {
  margin-bottom: 16px;
}

.gallery .subtitle {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin-bottom: 32px;
}

.gallery-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.gallery img {
  border-radius: 32px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .gallery {
    padding: 64px 0;
  }

  .gallery .title {
    padding: 0 32px;
    margin-bottom: 24px;
  }
  .gallery .subtitle {
    padding: 0 32px;
  }

  .gallery-list img {
    width: 340px;
  }

  .gallery-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Створює дві однакові колонки */
    grid-template-rows: repeat(3, 1fr); /* Формує три рівні рядки */
    gap: 24px; /* Простір між елементами сітки */
  }

  .gallery-list .gallery-item:nth-child(4) {
    grid-column-start: 1; /* Розміщується в першій колонці */
    grid-row-start: 1; /* Починається з верхнього рядка */
  }

  .gallery-list .gallery-item:nth-child(2) {
    grid-row: span 2 / span 2; /* Розтягується на два рядки вниз */
    grid-column-start: 2; /* Стоїть у другій колонці */
    grid-row-start: 1; /* Починає з першого рядка */
  }

  .gallery-list .gallery-item:nth-child(3) {
    grid-row: span 2 / span 2; /* Теж займає дві клітинки по вертикалі */
    grid-row-start: 2; /* Починається з другого рядка */
  }

  .gallery-list .gallery-item:nth-child(1) {
    grid-column-start: 2; /* Знаходиться в правій колонці */
    grid-row-start: 3; /* Розміщується у третьому рядку */
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .gallery .title {
    font-size: 48px;
  }

  .gallery-list img {
    width: 421px;
    transition: transform 300ms ease-in-out;
  }

  .gallery-list img:hover {
    transform: scale(1.05);
  }

  .gallery-list {
    grid-template-columns: repeat(3, 1fr); /* Створює три однакові колонки */
    grid-template-rows: repeat(2, 1fr); /* Формує два рівні рядки */
    margin: 0;
  }
  .gallery-list .gallery-item:nth-child(3) {
    grid-column-start: 3; /* Стоїть у третій колонці */
    grid-row-start: 1; /* Починає з першого рядка */
  }
  .gallery-list .gallery-item:nth-child(1) {
    grid-column-start: 1; /* Розміщується в першій колонці */
    grid-row-start: 2; /* Починається з другого рядка */
  }
}
