.header {
  background-color: #75d281;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  padding: 14px 0;
  display: block;
}

.logo-icon {
  fill: #030a06;
  width: 84px;
  height: 36px;
}

.header-nav-list,
.header-contacts {
  display: none;
}

.nav-link,
.contacts-link {
  color: #030a06;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  opacity: 0.5;
}

.nav-link:active,
.contacts-link:active {
  color: #113916;
}

.menu-button,
.menu-close-btn {
  padding: 8px;
  border: none;
  background-color: transparent;
}

.menu-icon,
.menu-close-icon {
  display: block;
  fill: #030a06;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* navbar */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #75d281;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  padding: 0 20px 92px;
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.menu-close-btn:hover .menu-close-icon,
.menu-close-btn:focus .menu-close-icon {
  opacity: 0.5;
}

.menu-nav {
  margin-bottom: auto;
}

.menu-nav-list,
.menu-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 40px;
}

.menu-contacts-list {
  gap: 16px;
}

.menu-contacts-list {
  margin-bottom: 0;
}
