.hero {
  padding: 64px 0;
}

.hero__title {
  text-align: left;
  margin-bottom: 20px;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #030a06;
}

.hero__subtitle {
  margin-bottom: 24px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #030a06;
}

.hero__button {
  border: 1px solid #030a06;
  border-radius: 6px;
  padding: 12px 24px;
  width: 100%;
  max-width: 288px;
  height: 50px;
  background: #030a06;
  margin-bottom: 24px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  transition: background 0.2s, color 0.2s;
}

.hero__link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.hero img,
.hero__img {
  object-fit: cover;
  border-radius: 40px;
  max-width: 288px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hero__container {
  padding-bottom: 64px;
}

.hero__content-wrapper {
  display: flex;
  /* flex-wrap: wrap; */
  flex-wrap: nowrap;
  width: 100%;
  max-width: 288px;
  box-sizing: border-box;
  margin: 0 auto;
}

.paragraf-hero {
  margin-bottom: 24px;
  /* width: 100%; */
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 32px 0 64px 0;
  }

  .hero__content-wrapper {
    max-width: 704px;
    gap: 24px;
    max-width: 704px;
    padding: 0;
  }

  .hero__title {
    text-align: left;
    font-size: 40px;
  }

  .hero img,
  .hero__img {
    width: 100%;
    max-width: 704px;
    border-radius: 40px;
    height: 267px;
  }
  .hero__subtitle {
    font-size: 18px;
    text-align: left;
  }

  .hero__button {
    margin: 0;
    max-width: 148px;
    height: 50px;
    white-space: nowrap;
  }
  .hero__textblock,
  .paragraf-hero {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    margin: 0 auto;
  }

  .hero__content-wrapper {
    gap: 32px;
    max-width: 1312px;
  }
  .paragraf-hero,
  .hero__textblock {
    width: calc((100% - 32px) / 2);
  }

  .hero__title {
    font-size: 56px;
    margin-bottom: 32px;
  }
  .paragraf-hero,
  .hero__subtitle {
    font-size: 18px;
  }

  .hero img,
  .hero__img {
    width: 100%;
    max-width: 1312px;
    height: 498px;
  }
}
