.hero__title {
  text-align: left;
  margin-bottom: 20px;
  padding-top: 64px;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #030a06;
}

.hero__subtitle {
  margin-bottom: 24px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #030a06;
}

.hero__button {
  border: 1px solid #030a06;
  border-radius: 6px;
  padding: 12px 24px;
  width: 100%;
  max-width: 288px;
  height: 50px;
  background: #030a06;
  margin-bottom: 24px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  transition: background 0.2s, color 0.2s;
}

.hero__link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.hero img,
.hero__img {
  border-radius: 40px;
  width: 100%;
  max-width: 288px;
  height: 285px;
  /* padding-bottom: 64px; */
  object-fit: cover;
}
.hero__container {
  padding-bottom: 64px;
  /* display: block; */
}
